appdirs
loralib
bitsandbytes
black
datasets
fire
sentencepiece
torch==2.0.1
scipy
einops
deepspeed
wandb
deepspeed
# gradio
git+https://github.com/huggingface/accelerate.git@665d5180fcc01d5700f7a9aa3f9bdb75c6055dce
git+https://github.com/huggingface/transformers.git@8f093fb799246f7dd9104ff44728da0c53a9f67a
git+https://github.com/huggingface/peft.git@189a6b8e357ecda05ccde13999e4c35759596a67

