appdirs
loralib
bitsandbytes
black
datasets
fire
sentencepiece
torch==2.0.1
scipy
einops
flash_attn
wandb
# these needs to be installed from source due to 4bit QLoRA
git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git